# Node.js
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# dotenv environment variables
.env
.env.*

# Build output
build/
dist/

# React
client/node_modules/
client/build/

# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Misc
*.tgz

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache 